.inscription{
    display: flex;
    align-items: center;
}
.circle-btn{
    opacity: 0;
}
@media screen and (min-width:670px) {
   header{
    padding-right: 20px;
   }
         header ul{
            position: absolute;
            top: 15vh;
            right: -100%;
            width: 250px;
            display: flex;
       
            gap: 10px;
            height: 400px;
            transition: 1s ease-in-out;
            z-index: 30;
            background-color: #120f21bb;
            flex-direction: column;
      
            padding: 10px;
        } 
      
        .circle-btn{
          outline: none;
          background:none;
          border: none;
          cursor: pointer;
          position: relative;
          opacity: 1;
          transition:transform 0.4s ease;
        }
        .circle-btn:hover{
          transform: scale(1.1);
        }
        .circle-btn:active{
          transform: scale(1.2);
        }
        
        .circle-btn .fa-bars{
          position: absolute;
          top: 50%;
          left: 50%;
          font-size:30px;
          transform: translate(-50%, -50%);
          
          will-change:transform ;
        }
        
        svg{
          transform: rotate(-90deg);
        }
        .bg-svg{
          stroke:#b8b8b834;
          stroke-width:4;
        }
        .filled{
          stroke:#fff;
          stroke-width: 4;  
          stroke-dasharray:1;
          stroke-dashoffset:1 ;
          transition: .2s ease-in-out;
        }
        .circle-btn:hover .filled{
          stroke-dashoffset:0 ;
          
        }
}